* {
	box-sizing: border-box;
}
.image_container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.slide {
	position: absolute;
	border: 2px solid red;
	width: 100vw;
	height: 100vh;
}

.slide img {
	object-fit: contain;
}
